In [1]:
# Grab the libraries and csvs we need

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

zipcodes_df = pd.read_csv(r"resources/zip_code_data_cleaned.csv")
census_data_df = pd.read_csv(r"resources/census_data.csv")
ppp_data_df = pd.read_csv(r"resources/PPP_Data_Combined.csv")

C:\Users\metatron\anaconda3\envs\pythondata\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
zipcodes_df

      Unnamed: 0  Zip Code Zip Code Type Zip Code Name       County
0              0     66002    Non-Unique      Atchison     Atchison
1              1     66006    Non-Unique  Baldwin City      Douglas
2              2     66007    Non-Unique       Basehor  Leavenworth
3              3     66008    Non-Unique       Bendena     Doniphan
4              4     66010    Non-Unique    Blue Mound         Linn
...          ...       ...           ...           ...          ...
1901        1153     65817        PO Box   Springfield       Greene
1902        1154     65890        Unique   Springfield       Greene
1903        1155     65897        Unique   Springfield       Greene
1904        1156     65898        Unique   Springfield       Greene
1905        1157     65899        Unique   Springfield       Greene

[1906 rows x 5 columns]

In [3]:
# Combine the zipcode data and the census data to tie census info to counties
zipcodes_df = zipcodes_df.rename(columns={"Zip Code":"Zipcode"})
local_census_data_df = zipcodes_df.merge(census_data_df,on="Zipcode")
local_census_data_df

,Unnamed: 0,Zipcode,Zip Code Type,Zip Code Name,County,Population,Median Age,Household Income,Per Capita Income,Poverty Count,...,Hispanic or Latino,White Alone,Black or African American Alone,American Indian and Alaska Native Alone,Asian Alone,Native Hawaiian and Other Pacific Islander Alone,Some Other Race Alone,Two or More Races,Two or More Races Including Some Other Race,"Two or More Races Excluding Some Other Race, and Three or More Races"
0,0,66002,Non-Unique,Atchison,Atchison,13653.0,34.5,44521.0,21778.0,2304.0,...,354.0,12249.0,744.0,82.0,15.0,0.0,72.0,491.0,10.0,481.0
1,1,66006,Non-Unique,Baldwin City,Douglas,7215.0,41.5,54091.0,28733.0,555.0,...,84.0,6824.0,27.0,46.0,18.0,3.0,24.0,273.0,5.0,268.0
2,2,66007,Non-Unique,Basehor,Leavenworth,6124.0,39.3,76579.0,32093.0,496.0,...,340.0,5804.0,78.0,97.0,87.0,0.0,14.0,44.0,0.0,44.0
3,3,66008,Non-Unique,Bendena,Doniphan,262.0,42.8,75357.0,33316.0,6.0,...,5.0,257.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
4,4,66010,Non-Unique,Blue Mound,Linn,598.0,49.4,47083.0,28369.0,109.0,...,0.0,598.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,1145,65804,Non-Unique,Springfield,Greene,36996.0,39.3,40744.0,28510.0,5800.0,...,913.0,34028.0,750.0,170.0,465.0,123.0,295.0,1165.0,143.0,1022.0
1717,1147,65806,Non-Unique,Springfield,Greene,9888.0,25.4,17253.0,12648.0,4324.0,...,323.0,7803.0,744.0,134.0,729.0,13.0,20.0,445.0,42.0,403.0
1718,1148,65807,Non-Unique,Springfield,Greene,55658.0,31.7,37009.0,20424.0,10682.0,...,2458.0,49031.0,2467.0,256.0,1732.0,116.0,504.0,1552.0,118.0,1434.0
1719,1150,65809,Non-Unique,Springfield,Greene,11060.0,47.5,80406.0,45211.0,514.0,...,251.0,10490.0,0.0,0.0,254.0,0.0,119.0,197.0,11.0,186.0
1720,1151,65810,Non-Unique,Springfield,Greene,21787.0,38.8,66418.0,34169.0,1542.0,...,408.0,20393.0,135.0,77.0,626.0,0.0,0.0,556.0,22.0,534.0

In [4]:
ppp_data_clean_df = ppp_data_df[["LoanRange","State","Zip","JobsReported"]].rename(columns={"Zip":"Zipcode"})

In [5]:
# Pull jobs reported by zip
jobs_by_zip_df = ppp_data_clean_df.groupby("Zipcode").count()
jobs_by_zip_df

         LoanRange  State  JobsReported
Zipcode
63005          859    859           828
63006           14     14            14
63010          461    461           455
63011          849    849           824
63012          101    101           100
...            ...    ...           ...
67953            5      5             4
67954           11     11            11
68327            1      1             1
68943            1      1             1
68978            1      1             1

[1764 rows x 3 columns]

In [6]:
# Combine everything!
mega_df = local_census_data_df.merge(jobs_by_zip_df,on="Zipcode")
mega_df

,Unnamed: 0,Zipcode,Zip Code Type,Zip Code Name,County,Population,Median Age,Household Income,Per Capita Income,Poverty Count,...,American Indian and Alaska Native Alone,Asian Alone,Native Hawaiian and Other Pacific Islander Alone,Some Other Race Alone,Two or More Races,Two or More Races Including Some Other Race,"Two or More Races Excluding Some Other Race, and Three or More Races",LoanRange,State,JobsReported
0,0,66002,Non-Unique,Atchison,Atchison,13653.0,34.5,44521.0,21778.0,2304.0,...,82.0,15.0,0.0,72.0,491.0,10.0,481.0,207,207,200
1,1,66006,Non-Unique,Baldwin City,Douglas,7215.0,41.5,54091.0,28733.0,555.0,...,46.0,18.0,3.0,24.0,273.0,5.0,268.0,121,121,121
2,2,66007,Non-Unique,Basehor,Leavenworth,6124.0,39.3,76579.0,32093.0,496.0,...,97.0,87.0,0.0,14.0,44.0,0.0,44.0,113,113,111
3,3,66008,Non-Unique,Bendena,Doniphan,262.0,42.8,75357.0,33316.0,6.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,9,9,2
4,4,66010,Non-Unique,Blue Mound,Linn,598.0,49.4,47083.0,28369.0,109.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1662,1145,65804,Non-Unique,Springfield,Greene,36996.0,39.3,40744.0,28510.0,5800.0,...,170.0,465.0,123.0,295.0,1165.0,143.0,1022.0,1506,1506,1394
1663,1147,65806,Non-Unique,Springfield,Greene,9888.0,25.4,17253.0,12648.0,4324.0,...,134.0,729.0,13.0,20.0,445.0,42.0,403.0,285,285,270
1664,1148,65807,Non-Unique,Springfield,Greene,55658.0,31.7,37009.0,20424.0,10682.0,...,256.0,1732.0,116.0,504.0,1552.0,118.0,1434.0,940,940,884
1665,1150,65809,Non-Unique,Springfield,Greene,11060.0,47.5,80406.0,45211.0,514.0,...,0.0,254.0,0.0,119.0,197.0,11.0,186.0,203,203,192
1666,1151,65810,Non-Unique,Springfield,Greene,21787.0,38.8,66418.0,34169.0,1542.0,...,77.0,626.0,0.0,0.0,556.0,22.0,534.0,374,374,329

In [7]:
# Eliminate the unnecessary columns
manageable_df = mega_df[["Zipcode","County","Population","Poverty Count","Hispanic or Latino","White Alone","JobsReported"]]
manageable_df

,Zipcode,County,Population,Poverty Count,Hispanic or Latino,White Alone,JobsReported
0,66002,Atchison,13653.0,2304.0,354.0,12249.0,200
1,66006,Douglas,7215.0,555.0,84.0,6824.0,121
2,66007,Leavenworth,6124.0,496.0,340.0,5804.0,111
3,66008,Doniphan,262.0,6.0,5.0,257.0,2
4,66010,Linn,598.0,109.0,0.0,598.0,13
...,...,...,...,...,...,...,...
1662,65804,Greene,36996.0,5800.0,913.0,34028.0,1394
1663,65806,Greene,9888.0,4324.0,323.0,7803.0,270
1664,65807,Greene,55658.0,10682.0,2458.0,49031.0,884
1665,65809,Greene,11060.0,514.0,251.0,10490.0,192
1666,65810,Greene,21787.0,1542.0,408.0,20393.0,329

In [8]:
# Merge in the state by the zip
zip_to_state_df = ppp_data_df[["Zip","State"]].drop_duplicates().rename(columns={"Zip":"Zipcode"})
manageable_df = manageable_df.merge(zip_to_state_df,on="Zipcode")
manageable_df

,Zipcode,County,Population,Poverty Count,Hispanic or Latino,White Alone,JobsReported,State
0,66002,Atchison,13653.0,2304.0,354.0,12249.0,200,KS
1,66006,Douglas,7215.0,555.0,84.0,6824.0,121,KS
2,66007,Leavenworth,6124.0,496.0,340.0,5804.0,111,KS
3,66008,Doniphan,262.0,6.0,5.0,257.0,2,KS
4,66010,Linn,598.0,109.0,0.0,598.0,13,KS
...,...,...,...,...,...,...,...,...
1662,65804,Greene,36996.0,5800.0,913.0,34028.0,1394,MO
1663,65806,Greene,9888.0,4324.0,323.0,7803.0,270,MO
1664,65807,Greene,55658.0,10682.0,2458.0,49031.0,884,MO
1665,65809,Greene,11060.0,514.0,251.0,10490.0,192,MO
1666,65810,Greene,21787.0,1542.0,408.0,20393.0,329,MO

In [9]:
grouped_df = pd.DataFrame(manageable_df.groupby(["State","County"]).sum())

In [10]:
del grouped_df["Zipcode"]
grouped_df

                  Population  Poverty Count  Hispanic or Latino  White Alone  \
State County
KS    Allen          13064.0         2141.0               395.0      12179.0
      Anderson        8210.0         1040.0                14.0       7855.0
      Atchison       16548.0         2567.0               449.0      15049.0
      Barber          4407.0          488.0                96.0       4253.0
      Barton         27808.0         3774.0              3777.0      25561.0
...                      ...            ...                 ...          ...
MO    Washington     22909.0         5372.0               191.0      21857.0
      Wayne          13956.0         2881.0               145.0      13584.0
      Webster        31736.0         5918.0               605.0      30452.0
      Worth           2206.0          273.0                23.0       2185.0
      Wright         21466.0         5680.0               296.0      20792.0

                  JobsReported
State County
KS    Allen                195
      Anderson             116
      Atchison             240
      Barber               167
      Barton               782
...                        ...
MO    Washington           108
      Wayne                156
      Webster              431
      Worth                 30
      Wright               303

[220 rows x 5 columns]

In [11]:
grouped_df.to_csv("resources/grouped_df.csv")